snippet rfc "react functional component" b
import React from 'react';

function ${1:`!p snip.rv = snip.basename`}(${2}) {
	return (
		<>${3:}
		</>
	);
}

export default $4`!p snip.rv = snip.basename`;
endsnippet
